#!/bin/bash

########################################################################################################################
# Be nice
########################################################################################################################

alias please=sudo

########################################################################################################################
# clean terminal history
########################################################################################################################

alias yolo="history -c && clear"

########################################################################################################################
# Paths
########################################################################################################################

alias home="cd ~"
alias desktop="cd ~/Desktop"
alias downloads="cd ~/Downloads"
alias documents="cd ~/Documents"
alias work="cd /Volumes/Work"

########################################################################################################################
# System
########################################################################################################################

alias drives="df -h" # list all drives

########################################################################################################################
# Browsers
########################################################################################################################

alias safari="/Applications/Safari.app/Contents/MacOS/Safari"
alias chrome="/Applications/Google\ Chrome.app/Contents/MacOS/Google\ Chrome"
alias firefox="/Applications/Firefox.app/Contents/MacOS/firefox"

########################################################################################################################
# Print website to pdf
# function accept two parametters first is url and second is optional filename
# e.g. pdf https://google.com ~/Downloads/google.pdf
# e.h. png https://google.com ~/Downloads/google.png
########################################################################################################################

pdf() { chrome --headless --disable-gpu --no-pdf-header-footer --no-margins --run-all-compositor-stages-before-draw --print-to-pdf=${2:-print.pdf} $1 > /dev/null 2>&1; }
png() { chrome --headless --disable-gpu --hide-scrollbars --virtual-time-budget=2000 --window-size=1920,1428 --screenshot=${2:-screenshot.png} $1 > /dev/null 2>&1; }

########################################################################################################################
# Applications
########################################################################################################################

alias xcode="open -a '/Developer/Applications/Xcode.app'"

########################################################################################################################
# Yarn / npm
########################################################################################################################

alias yup="yarn upgrade-interactive --latest" 
alias npm-list-globals="npm list -g --depth 0"

########################################################################################################################
# List aliases
########################################################################################################################

# Always use color output for `ls`
alias ls="exa --grid"

# List all files colorized in long format, including dot files
alias l="exa --long"
alias la="exa --long --header"
alias ll="exa -lha"

# List only directories
alias lsd="ls -lF | grep --color=never '^d'"

########################################################################################################################
# GIT
########################################################################################################################

alias git-root='[ ! -z `git rev-parse --show-cdup` ] && cd `git rev-parse --show-cdup || pwd`' # cd to git root

########################################################################################################################
# Internet
########################################################################################################################

# IP addresses
alias ip="dig @resolver1.opendns.com A myip.opendns.com +short -4"
alias ip-local="ipconfig getifaddr en1"
alias ips="ifconfig -a | perl -nle'/(\d+\.\d+\.\d+\.\d+)/ && print $1'"

# Enhanced WHOIS lookups
alias whois="whois -h whois-servers.net"

# Flush Directory Service cache
alias dns-flush="dscacheutil -flushcache"

########################################################################################################################
# Network
########################################################################################################################

# list all apps on ports
alias listen="sudo lsof -iTCP -sTCP:LISTEN -n -P"

# View HTTP traffic
alias sniff="sudo ngrep -d 'en1' -t '^(GET|POST) ' 'tcp and port 80'"
alias httpdump="sudo tcpdump -i en1 -n -s 0 -w - | grep -a -o -E \"Host\: .*|GET \/.*\""

# Canonical hex dump; some systems have this symlinked
type -f hd > /dev/null || alias hd="hexdump -C"

# OS X has no `md5sum`, so use `md5` as a fallback
type -f md5sum > /dev/null || alias md5sum="md5"

# Trim new lines and copy to clipboard
alias c="tr -d '\n' | pbcopy"

# Recursively delete `.DS_Store` files
alias cleanup="find . -type f -name '*.DS_Store' -ls -delete"

# File size
alias fs="stat -f \"%z bytes\""

# Empty the Trash on all mounted volumes and the main HDD.
# Also, clear Apple’s System Logs to improve shell startup speed.
# Finally, clear download history from quarantine. https://mths.be/bum
alias emptytrash="sudo rm -rfv /Volumes/*/.Trashes; sudo rm -rfv ~/.Trash; sudo rm -rfv /private/var/log/asl/*.asl; sqlite3 ~/Library/Preferences/com.apple.LaunchServices.QuarantineEventsV* 'delete from LSQuarantineEvent'"

# Show/hide hidden files in Finder
alias show="defaults write com.apple.finder AppleShowAllFiles -bool true && killall Finder"
alias hide="defaults write com.apple.finder AppleShowAllFiles -bool false && killall Finder"

# URL-encode strings
alias url-encode='python -c "import sys, urllib as ul; print ul.quote_plus(sys.argv[1]);"'

########################################################################################################################
# Docker
########################################################################################################################

alias dc="docker compose "
alias dcup="docker compose up -d --build"
alias dcupp="docker compose up"
alias dcstop="docker compose stop"
alias dcbuild="docker compose build"
alias dcpull="docker compose pull"
alias dclog="docker compose logs -t -f --tail 50"

# delete all images, containers, cache, builds ...
alias docker-prune-all="docker system prune --all && docker image prune -a"

# delete only dangling images without tag
alias docker-delete-dangling="docker rmi $(docker images --filter "dangling=true" -q --no-trunc) --force"

# docker ps
alias dps="docker ps"

# exec bash in docker e.g. dbash web 
dbash() { docker exec -it $(docker ps -aqf "name=$1") bash; }

########################################################################################################################
# Faster npm for europeans
########################################################################################################################
command -v npm > /dev/null && alias npme="npm --registry http://registry.npmjs.eu"