[user]
    name = Roman Ožana
    email = ozana@omdesign.cz

[color]
    ui = always

[push]
    default = current

[core]
    excludesfile = ~/.gitignore
    attributesfile = ~/.gitattributes

 [color "branch"]
    current = yellow reverse
    local = yellow
    remote = green

[color "diff"]
        meta = yellow bold
        frag = magenta bold
        old = red bold
        new = green bold
[color "status"]
        added = yellow
        changed = green
        untracked = cyan
[merge]
        log = true

[alias]
    mergedone = merge --no-ff --no-commit

    c = commit -am
    co = commit
    fo = fetch origin
    up = pull
    p = push
    s = status -s
    st = status
    di = diff
    df = diff --color --color-words --abbrev
    aa = add --all

    # show tags sort by push date
    tag-sort = for-each-ref --format='%(refname:short) (%(committerdate:relative))' --sort=committerdate refs/tags

		# display info about remote tags
    tag-remote = ls-remote --tags origin
    # show not pushed local tags
    tag-local = !git ls-remote --tags origin | git show-ref --tags --exclude-existing
    # prune local tags (delete not pushed tags)
    tag-prune = fetch --prune --tags
    # display most recent tag
    tag-latest = describe --tags --abbrev=0

    # remove untracked dirs, ignored files with force !
    prune = clean -xdf

    # show all conflicts
    conflicts = !git ls-files -u | cut -f 2 | sort -u

    # logs functions
    wtf = log --color --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
    l =  log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --

    # last changes
    chlast = show --pretty="format:" --name-only
	latest = branch -v

[core]
    editor = nano
    excludesfile = /Users/roman/.gitignore_global

[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 

[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true

# git clone bb:user/repo
[url "git@bitbucket.org:"]
        insteadOf = "bb:"
        pushInsteadOf = "bitbucket:"
        pushInsteadOf = "git://bitbucket.org/"

# git clone gh:user/repo
[url "git@github.com:"]
        insteadOf = "gh:"
        pushInsteadOf = "github:"
        pushInsteadOf = "git://github.com/"

[url "git://github.com/"]
        insteadOf = "github:"

# git clone gist:number
[url "git@gist.github.com:"]
        insteadOf = "gist:"
        pushInsteadOf = "gist:"
        pushInsteadOf = "git://gist.github.com/"

[url "git://gist.github.com/"]
        insteadOf = "gist:"

# Any GitHub repo with my username should be checked out r/w by default
# http://rentzsch.tumblr.com/post/564806957/public-but-hackable-git-submodules
[url "git@github.com:OzzyCzech/"]
    insteadOf = "git://github.com/OzzyCzech/"
